[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=bash -c 'bing-ip2hosts;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Bing IP2Hosts
Terminal=true
Type=Application
Name[en_US]=blackbuntu-bing-ip2hosts.desktop
