[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'netwox; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Netwox
Terminal=true
Type=Application
