[Desktop Entry]
Version=1.0
Categories=Networking Tools;
Exec=bash -c 'dns2tcpd;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Dns2TCPd
Terminal=true
Type=Application
Name[en_US]=blackbuntu-dns2tcpd.desktop
