[Desktop Entry]
Version=1.0
Categories=Wireless;
Exec=sh -c 'hostapd -h; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=HostAPD
Terminal=true
Type=Application
