[Desktop Entry]
Version=1.0
Categories=Web Applications;
Exec=sh -c 'droopescan; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Droopescan
Terminal=true
Type=Application
