[Desktop Entry]
Version=1.0
Categories=Web Applications Analysis;
Exec=bash -c 'sudo grabber --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Grabber
Terminal=true
Type=Application
Name[en_US]=blackbuntu-grabber.desktop
