[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'sudo mimipenguin; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Mimipenguin
Terminal=true
Type=Application
