[Desktop Entry]
Version=1.0
Categories=Digital Forensics;
Exec=sh -c 'scalpel; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Scalpel
Terminal=true
Type=Application
