[Desktop Entry]
Version=1.0
Categories=Digital Forensics;
Exec=sh -c 'foremost -h; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Foremost
Terminal=true
Type=Application
