[Desktop Entry]
Version=1.0
Categories=System Services;
Exec=bash -c 'blackbuntu-upgrade;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-upgrade.png
Name=BlackBuntu Upgrade
Terminal=true
Type=Application
Name[en_US]=blackbuntu-upgrade.desktop
