[Desktop Entry]
Version=1.0
Categories=Digital Forensics;
Exec=pkexec guymager
Icon=/usr/share/icons/blackbuntu/bbu-guymager.png
Name=Guymager
Terminal=false
Type=Application
Name[en_US]=blackbuntu-guymager.desktop
