[Desktop Entry]
Version=1.0
Categories=Digital Forensics;
Exec=sh -c 'peepdf --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=PeePDF
Terminal=true
Type=Application
