[Desktop Entry]
Version=1.0
Categories=Wireless Attacks;
Exec=sh -c 'wifi-honey -h; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Wifi-Honey
Terminal=true
Type=Application
