[Desktop Entry]
Version=1.0
Categories=Cracking Tools;
Exec=bash -c 'johnny;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Johnny
Terminal=false
Type=Application
Name[en_US]=blackbuntu-johnny.desktop
