[Desktop Entry]
Version=1.0
Categories=Exploitation Tools;
Exec=bash -c 'websploit;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=WebSploit
Terminal=true
Type=Application
Name[en_US]=blackbuntu-websploit.desktop
