[Desktop Entry]
Version=1.0
Categories=Networking Tools;
Exec=bash -c 'openvpn --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=OpenVPN
Terminal=true
Type=Application
Name[en_US]=blackbuntu-openvpn.desktop
