[Desktop Entry]
Version=1.0
Categories=Reverse Engineering;
Exec=bash -c 'yara --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Yara
Terminal=true
Type=Application
Name[en_US]=blackbuntu-yara.desktop
