[Desktop Entry]
Name=EDB Debugger
GenericName=edb debugger
Comment=edb debugger 
Exec=edb
Icon=/usr/share/icons/blackbuntu/blackbuntu-edb-debugger.png
Terminal=false
Type=Application
Categories=Reverse Engineering;
