[Desktop Entry]
Version=1.0
Categories=Web Applications Analysis;
Exec=bash -c 'deblaze;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Deblaze
Terminal=true
Type=Application
Name[en_US]=blackbuntu-deblaze.desktop
