[Desktop Entry]
Version=1.0
Categories=Networking Tools;
Exec=bash -c 'ptunnel --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=pTunnel
Terminal=true
Type=Application
Name[en_US]=blackbuntu-ptunnel.desktop
