[Desktop Entry]
Version=1.0
Categories=Digital Forensics;
Exec=bash -c 'binwalk --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=BinWalk
Terminal=true
Type=Application
Name[en_US]=blackbuntu-binwalk.desktop
