[Desktop Entry]
Version=1.0
Categories=Web Applications Analysis;
Exec=bash -c 'wpscan -h;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-wpscan.png
Name=WPScan
Terminal=true
Type=Application
Name[en_US]=blackbuntu-wpscan.desktop
