[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=bash -c 'iwebaudit --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=iWebaudit
Terminal=true
Type=Application
Name[en_US]=blackbuntu-iwebaudit.desktop
