[Desktop Entry]
Version=1.0
Categories=Utilities Tools;
Exec=bash -c 'dnsftp --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=DnsFTP
Terminal=true
Type=Application
Name[en_US]=blackbuntu-dnsftp.desktop
