[Desktop Entry]
Version=1.0
Categories=Cracking Tools;
Exec=bash -c 'findmyhash --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=FindMyHash
Terminal=true
Type=Application
Name[en_US]=blackbuntu-findmyhash.desktop
