[Desktop Entry]
Version=1.0
Categories=Web Applications Analysis;
Exec=bash -c 'wfuzz --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Wfuzz
Terminal=true
Type=Application
Name[en_US]=blackbuntu-wfuzz.desktop
