[Desktop Entry]
Version=1.0
Categories=Web Applications Analysis;
Exec=bash -c 'struts-scanner;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Struts Scanner
Terminal=true
Type=Application
Name[en_US]=blackbuntu-struts-scanner.desktop
