[Desktop Entry]
Version=1.0
Categories=Web Applications;
Exec=sh -c 'tilde-enum --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Tilde Enum
Terminal=true
Type=Application
