[Desktop Entry]
Version=1.0
Categories=Cracking Tools;
Exec=bash -c 'hashcat --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=HashCat
Terminal=true
Type=Application
Name[en_US]=blackbuntu-hashcat.desktop
