[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=bash -c 'enumiax;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Enumiax
Terminal=true
Type=Application
Name[en_US]=blackbuntu-enumiax.desktop
