[Desktop Entry]
Version=1.0
Categories=Cracking Tools;
Exec=bash -c 'multiforcer;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=MultiForcer
Terminal=true
Type=Application
Name[en_US]=blackbuntu-multiforcer.desktop
