[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=bash -c 'linenum -h;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Linenum
Terminal=true
Type=Application
Name[en_US]=blackbuntu-linenum.desktop
