[Desktop Entry]
Version=1.0
Categories=Web Applications Analysis;
Exec=bash -c 'sniper --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Sniper
Terminal=true
Type=Application
Name[en_US]=blackbuntu-sniper.desktop
