[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'sudo tcpreplay --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=TCP-Replay
Terminal=true
Type=Application
