[Desktop Entry]
Version=1.0
Categories=Reporting Tools;
Exec=bash -c 'cherrytree;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Cherrytree
Terminal=false
Type=Application
Name[en_US]=blackbuntu-cherrytree.desktop
