[Desktop Entry]
Version=1.0
Categories=Web Applications Analysis;
Exec=bash -c 'joomscan --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Joomscan
Terminal=true
Type=Application
Name[en_US]=blackbuntu-joomscan.desktop
