[Desktop Entry]
Name=Zenmap
TryExec=zenmap
Exec=zenmap %F
Terminal=false
Icon=/usr/share/icons/blackbuntu/blackbuntu-zenmap.png
Type=Application
Categories=Gathering;
Keywords=network;scan;scanner;IP;security;
