[Desktop Entry]
Version=1.0
Categories=Web Applications;
Exec=/usr/lib/jvm/java-11-openjdk-amd64/bin/java -jar /opt/blackbuntu/web-applications/burpsuite/burpsuite.jar
Icon=/usr/share/icons/blackbuntu/blackbuntu-burpsuite.png
Name=Burpsuite
Terminal=false
Type=Application
