[Desktop Entry]
Version=1.0
Categories=Vulnerability Analysis;
Exec=bash -c 'unix-privesc;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Unix Privesc
Terminal=true
Type=Application
Name[en_US]=blackbuntu-unix-privesc.desktop
