[Desktop Entry]
Version=1.0
Categories=Vulnerability Analysis;
Exec=bash -c 'jsql-injection;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=jSQL Injection
Terminal=false
Type=Application
Name[en_US]=blackbuntu-jsql-injection.desktop
