[Desktop Entry]
Version=1.0
Categories=Forensics;
Exec=sh -c 'pdgmail --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Pdgmail
Terminal=true
Type=Application
