[Desktop Entry]
Version=1.0
Categories=Digital Forensics;
Exec=sh -c 'binwalk --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=BinWalk
Terminal=true
Type=Application
