[Desktop Entry]
Version=1.0
Categories=System Services;
Exec=sh -c 'blackbuntu-upgrade; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-upgrade.png
Name=BlackBuntu Upgrade
Terminal=true
Type=Application
