[Desktop Entry]
Version=1.0
Categories=Sniffing / Spoofing;
Exec=sh -c 'responder --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Responder
Terminal=true
Type=Application
