[Desktop Entry]
Version=1.0
Categories=Gathering;
Exec=sh -c 'spiderfoot -h; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=SpiderFoot
Terminal=true
Type=Application
