[Desktop Entry]
Version=1.0
Categories=Digital Forensics;
Exec=bash -c 'dumpzilla --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-dumpzilla.png
Name=Dumpzilla
Terminal=true
Type=Application
Name[en_US]=blackbuntu-dumpzilla.desktop
