[Desktop Entry]
Version=1.0
Categories=Stress Testing;
Exec=bash -c 'iaxflood --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Iaxflood
Terminal=true
Type=Application
Name[en_US]=blackbuntu-iaxflood.desktop
