[Desktop Entry]
Version=1.0
Categories=Wireless Attacks;
Exec=bash -c 'cowpatty -h;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=CowPatty
Terminal=true
Type=Application
Name[en_US]=blackbuntu-cowpatty.desktop
