[Desktop Entry]
Version=1.0
Categories=Gathering;
Exec=/usr/bin/java -jar /opt/pentest/information-gathering/cookie-cadger/cookie-cadger.jar
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Cookie Cadger
Terminal=false
Type=Application
