[Desktop Entry]
Version=1.0
Categories=Exploitation;
Exec=sh -c 'linux-xsuggest --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Linux xSuggest
Terminal=true
Type=Application
