[Desktop Entry]
Version=1.0
Categories=Web Applications Analysis;
Exec=/usr/bin/java -jar /opt/pentest/webapps-analysis/burpsuite/burpsuite.jar
Icon=/usr/share/icons/blackbuntu/bbu-burpsuite.png
Name=Burpsuite
Terminal=false
Type=Application
Name[en_US]=blackbuntu-burpsuite.desktop
