[Desktop Entry]
Version=1.0
Categories=Utilities Tools;
Exec=bash -c 'hammer -h;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Hammer
Terminal=true
Type=Application
Name[en_US]=blackbuntu-hammer.desktop
