[Desktop Entry]
Version=1.0
Categories=Digital Forensics;
Exec=sh -c 'pdfid --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=PdfId
Terminal=true
Type=Application
