[Desktop Entry]
Version=1.0
Categories=Gathering;
Exec=sh -c 'bing-ip2hosts; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Bing IP2Hosts
Terminal=true
Type=Application
