[Desktop Entry]
Version=1.0
Categories=Networking Tools;
Exec=bash -c 'sipcalc --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Sipcalc
Terminal=true
Type=Application
Name[en_US]=blackbuntu-sipcalc.desktop
