[Desktop Entry]
Version=1.0
Categories=Web Applications;
Exec=sh -c 'plecost; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Plecost
Terminal=true
Type=Application
