[Desktop Entry]
Version=1.0
Categories=Wireless Attacks;
Exec=sh -c 'aircrack-ng; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Aircrack NG
Terminal=true
Type=Application
