[Desktop Entry]
Version=1.0
Categories=Digital Forensics;
Exec=bash -c 'galleta;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Galleta
Terminal=true
Type=Application
Name[en_US]=blackbuntu-galleta.desktop
