[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'pwdump --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=PwDump
Terminal=true
Type=Application
