[Desktop Entry]
Version=1.0
Categories=Networking Tools;
Exec=bash -c 'pwnat -h;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Pwnat
Terminal=true
Type=Application
Name[en_US]=blackbuntu-pwnat.desktop
