[Desktop Entry]
Version=1.0
Categories=Sniffing / Spoofing;
Exec=sh -c 'svcrack --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Svcrack
Terminal=true
Type=Application
