[Desktop Entry]
Version=1.0
Categories=Networking Tools;
Exec=bash -c 'nc -h;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=NetCat
Terminal=true
Type=Application
Name[en_US]=blackbuntu-netcat.desktop
