[Desktop Entry]
Version=1.0
Categories=Networking Tools;
Exec=bash -c 'nishang;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Nishang
Terminal=true
Type=Application
Name[en_US]=blackbuntu-nishang.desktop
