[Desktop Entry]
Version=1.0
Categories=Social Engineering;
Exec=sh -c 'tinfoleak; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Tinfoleak
Terminal=false
Type=Application
