[Desktop Entry]
Name=Zenmap
GenericName=GUI Port Scanner
TryExec=zenmap
Exec=zenmap %F
Terminal=false
Icon=/usr/share/icons/blackbuntu/bbu-zenmap.png
Type=Application
Categories=Information Gathering;
Comment=A cross-platform GUI for the Nmap Security Scanner.
Keywords=network;scan;scanner;IP;security;

Name[en_US]=blackbuntu-zenmap.desktop
