[Desktop Entry]
Version=1.0
Categories=Networking Tools;
Exec=bash -c 'lft;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=LFT Network
Terminal=true
Type=Application
Name[en_US]=blackbuntu-lft.desktop
