[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'lsadump --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=LsaDump
Terminal=true
Type=Application
