[Desktop Entry]
Version=1.0
Categories=Hardwares Tools;
Exec=bash -c 'apktool --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=ApkTool
Terminal=true
Type=Application
Name[en_US]=blackbuntu-apktool.desktop
