[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=bash -c 'fierce -h;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Fierce
Terminal=true
Type=Application
Name[en_US]=blackbuntu-fierce.desktop
