[Desktop Entry]
Version=1.0
Categories=Exploitation Tools;
Exec=bash -c 'commix --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-commix.png
Name=Commix
Terminal=true
Type=Application
Name[en_US]=blackbuntu-commix.desktop
