[Desktop Entry]
Version=1.0
Categories=System Services;
Exec=sh -c 'blackbuntu-autoclean; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-autoclean.png
Name=BlackBuntu Clean
Terminal=true
Type=Application
