[Desktop Entry]
Version=1.0
Categories=Sniffing / Spoofing;
Exec=sh -c 'lnav --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Lnav
Terminal=true
Type=Application
