[Desktop Entry]
Version=1.0
Categories=Sniffing / Spoofing;
Exec=bash -c 'dsniff -h;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Dsniff
Terminal=true
Type=Application
Name[en_US]=blackbuntu-dsniff.desktop
