[Desktop Entry]
Version=1.0
Categories=Cracking Tools;
Exec=bash -c 'gpp-decrypt;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=GPP Decrypt
Terminal=true
Type=Application
Name[en_US]=blackbuntu-gpp-decrypt.desktop
