[Desktop Entry]
Version=1.0
Categories=Hardwares Tools;
Exec=bash -c 'rom-decoder;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Rom Decoder
Terminal=true
Type=Application
Name[en_US]=blackbuntu-rom-decoder.desktop
