[Desktop Entry]
Version=1.0
Categories=Stress Testing;
Exec=bash -c 't50 --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=T50
Terminal=true
Type=Application
Name[en_US]=blackbuntu-t50.desktop
