[Desktop Entry]
Version=1.0
Categories=Exploitation Tools;
Exec=bash -c 'exe2hex --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Exe2hex
Terminal=true
Type=Application
Name[en_US]=blackbuntu-exe2hex.desktop
