[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'sipcalc --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Sipcalc
Terminal=true
Type=Application
