[Desktop Entry]
Version=1.0
Categories=Utilities;
Exec=sh -c 'ipsorter; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Ipsorter
Terminal=true
Type=Application
