[Desktop Entry]
Version=1.0
Categories=Cracking Tools;
Exec=bash -c 'truecrack --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=TrueCrack
Terminal=true
Type=Application
Name[en_US]=blackbuntu-truecrack.desktop
