[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'rcrack; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=RainbowCrack
Terminal=true
Type=Application
