[Desktop Entry]
Version=1.0
Categories=Gathering;
Exec=sh -c 'iwebaudit --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=iWebaudit
Terminal=true
Type=Application
