[Desktop Entry]
Version=1.0
Categories=Gathering;
Exec=sh -c 'sudo arp-scan --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=ARP Scan
Terminal=true
Type=Application
