[Desktop Entry]
Version=1.0
Categories=Digital Forensics;
Exec=bash -c 'peepdf --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=PeePDF
Terminal=true
Type=Application
Name[en_US]=blackbuntu-peepdf.desktop
