[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'findmyhash --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=FindMyHash
Terminal=true
Type=Application
