[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=bash -c 'dnsmap;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Dnsmap
Terminal=true
Type=Application
Name[en_US]=blackbuntu-dnsmap.desktop
