[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=bash -c 'smtp-user-enum;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=SMTPuser Enum
Terminal=true
Type=Application
Name[en_US]=blackbuntu-smtp-user-enum.desktop
