[Desktop Entry]
Version=1.0
Categories=Exploitation Tools;
Exec=bash -c 'linux-xsuggest --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Linux xSuggest
Terminal=true
Type=Application
Name[en_US]=blackbuntu-linux-xsuggest.desktop
