[Desktop Entry]
Version=1.0
Categories=Gathering;
Exec=sh -c 'dnsmap; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Dnsmap
Terminal=true
Type=Application
