[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=bash -c 'ismtp;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Ismtp
Terminal=true
Type=Application
Name[en_US]=blackbuntu-ismtp.desktop
