[Desktop Entry]
Version=1.0
Categories=Exploitation;
Exec=sh -c 'empire; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-empire.png
Name=Empire
Terminal=true
Type=Application
