[Desktop Entry]
Version=1.0
Categories=Gathering;
Exec=sh -c 'smbspider; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Smbspider
Terminal=true
Type=Application
