[Desktop Entry]
Version=1.0
Categories=Wireless Attacks;
Exec=bash -c 'hostapd -h;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=HostAPD
Terminal=true
Type=Application
Name[en_US]=blackbuntu-hostapd.desktop
