[Desktop Entry]
Version=1.0
Categories=Networking Tools;
Exec=bash -c 'cryptcat -h;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Cryptcat
Terminal=true
Type=Application
Name[en_US]=blackbuntu-cryptcat.desktop
