[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=bash -c 'recon-ng --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Recon-NG
Terminal=true
Type=Application
Name[en_US]=blackbuntu-recon-ng.desktop
