[Desktop Entry]
Version=1.0
Categories=Wireless Attacks;
Exec=bash -c 'pyrit;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Pyrit
Terminal=true
Type=Application
Name[en_US]=blackbuntu-pyrit.desktop
