[Desktop Entry]
Version=1.0
Categories=Reverse Engineering;
Exec=sh -c 'androgui --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=androgui
Terminal=true
Type=Application
