[Desktop Entry]
Version=1.0
Categories=Cracking Tools;
Exec=bash -c 'hashtag --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=HashTag
Terminal=true
Type=Application
Name[en_US]=blackbuntu-hashtag.desktop
