[Desktop Entry]
Version=1.0
Categories=Reverse Engineering;
Exec=sh -c 'androaxml --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Androaxml
Terminal=true
Type=Application
