[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'sbd -h; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=SBD
Terminal=true
Type=Application
