[Desktop Entry]
Version=1.0
Categories=Wireless Attacks;
Exec=bash -c 'wifresti --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Wifresti
Terminal=true
Type=Application
Name[en_US]=blackbuntu-wifresti.desktop
