[Desktop Entry]
Version=1.0
Categories=Wireless;
Exec=sh -c 'wifresti --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Wifresti
Terminal=true
Type=Application
