[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=bash -c 'automater --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Automater
Terminal=true
Type=Application
Name[en_US]=blackbuntu-automater.desktop
