[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'ptunnel --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=pTunnel
Terminal=true
Type=Application
