[Desktop Entry]
Version=1.0
Categories=Digital Forensics;
Exec=bash -c 'pdf-parser --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=PDF Parser
Terminal=true
Type=Application
Name[en_US]=blackbuntu-pdf-parser.desktop
