[Desktop Entry]
Version=1.0
Categories=Exploitation;
Exec=/usr/bin/java -jar /opt/blackbuntu/exploitation/armitage/armitage.jar
Icon=/usr/share/icons/blackbuntu/blackbuntu-armitage.png
Name=Armitage
Terminal=false
Type=Application
