[Desktop Entry]
Version=1.0
Categories=Social Engineering;
Exec=bash -c 'gophish --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Gophish
Terminal=true
Type=Application
Name[en_US]=blackbuntu-gophish.desktop
