[Desktop Entry]
Version=1.0
Categories=Sniffing / Spoofing;
Exec=bash -c 'sudo morpheus;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Morpheus
Terminal=true
Type=Application
Name[en_US]=blackbuntu-morpheus.desktop
