[Desktop Entry]
Version=1.0
Categories=Gathering;
Encoding=UTF-8
Exec=/usr/bin/ipscan
Icon=/usr/share/icons/blackbuntu/blackbuntu-ipscan.png
Name=Angry IP
StartupNotify=true
StartupWMClass=Angry IP Scanner
Terminal=false
Type=Application
