[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'net-creds --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Net-Creds
Terminal=true
Type=Application
