[Desktop Entry]
Version=1.0
Categories=Wireless;
Exec=sh -c 'sudo wifijammer --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=WifiJammer
Terminal=true
Type=Application
