[Desktop Entry]
Version=1.0
Categories=Exploitation;
Exec=sh -c 'pocsuite --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=PocSuite
Terminal=true
Type=Application
