[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'ardt --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Ardt
Terminal=true
Type=Application
