[Desktop Entry]
Version=1.0
Categories=Sniffing / Spoofing;
Exec=bash -c 'mitmweb --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Mitmweb
Terminal=true
Type=Application
Name[en_US]=blackbuntu-mitmweb.desktop
