[Desktop Entry]
Version=1.0
Categories=Web Applications Analysis;
Exec=bash -c 'cmsmap --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Cmsmap
Terminal=true
Type=Application
Name[en_US]=blackbuntu-cmsmap.desktop
