[Desktop Entry]
Version=1.0
Categories=Web Applications Analysis;
Exec=bash -c 'skipfish --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Skipfish
Terminal=true
Type=Application
Name[en_US]=blackbuntu-skipfish.desktop
