[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'intersect; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Intersect
Terminal=true
Type=Application
