[Desktop Entry]
Version=1.0
Categories=Networking Tools;
Exec=bash -c 'webshells;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Webshells
Terminal=true
Type=Application
Name[en_US]=blackbuntu-webshells.desktop
