[Desktop Entry]
Version=1.0
Categories=Wireless Attacks;
Exec=sh -c 'pixiewps --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=PixieWPS
Terminal=true
Type=Application
