[Desktop Entry]
Version=1.0
Categories=Wireless Attacks;
Exec=bash -c 'crackle -h;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Crackle
Terminal=true
Type=Application
Name[en_US]=blackbuntu-crackle.desktop
