[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=bash -c 'enum4linux;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Enum4Linux
Terminal=true
Type=Application
Name[en_US]=blackbuntu-enum4linux.desktop
