[Desktop Entry]
Version=1.0
Categories=Wireless Attacks;
Exec=bash -c 'blueranger --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Blueranger
Terminal=true
Type=Application
Name[en_US]=blackbuntu-blueranger.desktop
