[Desktop Entry]
Version=1.0
Categories=Gathering;
Exec=sh -c 'twofi; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Twofi
Terminal=true
Type=Application
