[Desktop Entry]
Version=1.0
Categories=Wireless Attacks;
Exec=bash -c 'wifi-honey -h;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Wifi-Honey
Terminal=true
Type=Application
Name[en_US]=blackbuntu-wifi-honey.desktop
