[Desktop Entry]
Version=1.0
Categories=Exploitation Tools;
Exec=bash -c 'windows-xsuggest --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Windows xSuggest
Terminal=true
Type=Application
Name[en_US]=blackbuntu-windows-xsuggest.desktop
