[Desktop Entry]
Version=1.0
Categories=Digital Forensics;
Exec=bash -c 'pdfid --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=PdfId
Terminal=true
Type=Application
Name[en_US]=blackbuntu-pdfid.desktop
