[Desktop Entry]
Version=1.0
Categories=System Services;
Exec=sh -c 'blackbuntu-clean; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-clean.png
Name=BlackBuntu Clean
Terminal=true
Type=Application
