[Desktop Entry]
Version=1.0
Categories=Digital Forensics;
Exec=bash -c 'foremost -h;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Foremost
Terminal=true
Type=Application
Name[en_US]=blackbuntu-foremost.desktop
