[Desktop Entry]
Version=1.0
Categories=Gathering;
Exec=sh -c 'dnmap-client --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Dnmap Client
Terminal=true
Type=Application
