[Desktop Entry]
Version=1.0
Categories=Cracking;
Exec=sh -c 'cachedump --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=CacheDump
Terminal=true
Type=Application
