[Desktop Entry]
Version=1.0
Categories=Sniffing / Spoofing;
Exec=bash -c 'svmap --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Svmap
Terminal=true
Type=Application
Name[en_US]=blackbuntu-svmap.desktop
