[Desktop Entry]
Version=1.0
Categories=Networking;
Exec=sh -c 'nbtscan; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Nbtscan
Terminal=true
Type=Application
