[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=bash -c 'dnsenum --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Dnsenum
Terminal=true
Type=Application
Name[en_US]=blackbuntu-dnsenum.desktop
