[Desktop Entry]
Version=1.0
Categories=Cracking Tools;
Exec=bash -c 'acccheck;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=AccCheck
Terminal=true
Type=Application
Name[en_US]=blackbuntu-acccheck.desktop
