[Desktop Entry]
Version=1.0
Categories=Utilities;
Exec=sh -c 'dnsinject --help; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Dnsinject
Terminal=true
Type=Application
