[Desktop Entry]
Version=1.0
Categories=Stress Testing;
Exec=bash -c 'thc-ssl-dos --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=THC SSL-dos
Terminal=true
Type=Application
Name[en_US]=blackbuntu-thc-ssl-dos.desktop
