[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=bash -c 'sudo arp-scan --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=ARP Scan
Terminal=true
Type=Application
Name[en_US]=blackbuntu-arp-scan.desktop
