[Desktop Entry]
Version=1.0
Categories=Wireless Attacks;
Exec=sh -c 'crackle -h; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Crackle
Terminal=true
Type=Application
