[Desktop Entry]
Version=1.0
Categories=Networking Tools;
Exec=bash -c 'powersploit;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=PowerSploit
Terminal=true
Type=Application
Name[en_US]=blackbuntu-powersploit.desktop
