[Desktop Entry]
Version=1.0
Categories=Wireless Attacks;
Exec=bash -c 'sudo wifite;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Wifite
Terminal=true
Type=Application
Name[en_US]=blackbuntu-wifite.desktop
