[Desktop Entry]
Version=1.0
Categories=Exploitation Tools;
Exec=bash -c 'unicorn;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Unicorn
Terminal=true
Type=Application
Name[en_US]=blackbuntu-unicorn.desktop
