[Desktop Entry]
Version=1.0
Categories=Information Gathering;
Exec=bash -c 'miranda -h;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=Miranda
Terminal=true
Type=Application
Name[en_US]=blackbuntu-miranda.desktop
