[Desktop Entry]
Version=1.0
Categories=Gathering;
Exec=sh -c 'shodan-eye; $SHELL'
Icon=/usr/share/icons/blackbuntu/blackbuntu-menu-default.png
Name=Shodan Eye
Terminal=true
Type=Application
