[Desktop Entry]
Version=1.0
Categories=Networking Tools;
Exec=bash -c 'sudo tcpdump --help;$SHELL'
Icon=/usr/share/icons/blackbuntu/bbu-menu-default.png
Name=TCP-Dump
Terminal=true
Type=Application
Name[en_US]=blackbuntu-tcpdump.desktop
